<html>

<head>
    <title>HuskyNZ's Weather App</title>
</head>

<body>
    <h1>Get Weather</h1>
    <form action="/get_weather" method="post">
        <label for="api_key">Your OpenWether Api key:</label>
        <input type="text" id="api_key" name="api_key">
        <br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city">
        <br>
        <label for="country_code">Country Code:</label>
        <input type="text" id="country_code" name="country_code">
        <br>
        <input type="submit" value="Get Weather">
      </form>
      </body>

      </html>
