<html>

<head>
    <title>HuskyNZ's Weather App</title>
</head>

<body>
    <h1>Get Weather for your location! Fast</h1>
<!--
This is for the backup way of geting the key and telling the user that there key needs to be activated
    <p>Note if you just got your key it may take a couple hours to become active</p>

-->
    <form action="/get_weather" method="post">
        <!--This is for the backup way of geting the key-->
        <!-- <label for="key">Your Openwether api key:</label>
        <input type="text" id="key" name="key">
        <br> -->
        <label for="city">City:</label>
        <input type="text" id="city" name="city">
        <br>
        <label for="country_code">Country Code:</label>
        <input type="text" id="country_code" name="country_code">
        <br>
        <input type="submit" value="Get Weather">
      </form>
      </body>

      </html>
